### 파일 1차적 전처리 후, csv 파일로 전송

In [1]:
# 모듈 생성
import csv
import pandas as pd

### 1. 국내 항공 운송 현황 file

In [2]:
inter_air_trans_2 = pd.read_excel('./data/inter_air_trans_2.xlsx', skiprows=1)
inter_air_trans_2

,구 분,구 분.1,2017년 06월,2018년 06월,2019년 06월,2020년 06월,2021년 06월,2022년 06월
0,운항(편),국내,16606,16578,16519,14756,18660,18544
1,운항(편),국제,36462,40568,44658,7586,10845,13219
2,운항(편),계,53068,57146,61177,22342,29505,31763
3,여객(명),국내,2852858,2829036,2814523,2161147,3037489,3328076
4,여객(명),국제,5977385,6993670,7727595,182053,246697,1279029
5,여객(명),계,8830243,9822706,10542118,2343200,3284186,4607105
6,화물(톤),국내,22570,21360,19830,12998,16919,18927
7,화물(톤),국제,324712,340264,330019,219341,282981,273269
8,화물(톤),계,347282,361624,349849,232339,299900,292196

In [3]:
inter_air_trans_2.to_csv('C:\hcb\pandas_study\week4\TeamProject\data\inter_air_trans_2_fin.csv', index=False)

### 2. 업체별 항공 종사자 file

In [4]:
# 1과 2행은 skip해서 로딩
sightseeing = pd.read_excel('./data/sightseeing_co.xlsx', skiprows=2)

# 필요없는 끝부분 행 2개 drop
sightseeing.drop(labels=range(24,26), axis=0, inplace=True)

# NaN값 처리
sightseeing = sightseeing.fillna(method='ffill')

# 컬럼명 변경
sightseeing.rename({'Unnamed: 0':'업종', 'Unnamed: 1':'구분'}, axis=1, inplace=True)

In [5]:
# 컬럼 인덱스 확인
col = sightseeing.columns.tolist()

# 숫자 컬럼 정수로 바꿔주기
for i in range(2,7):
    sightseeing[col[i]] = sightseeing[col[i]].astype('int')
    
# 타입 변환 확인
sightseeing.dtypes

업종      object
구분      object
2016     int32
2017     int32
2018     int32
2019     int32
2020     int32
dtype: object

In [6]:
sightseeing.to_csv('C:\hcb\pandas_study\week4\TeamProject\data\sightseeing_fin.csv', index=False)